
<mat-card class="example-card">
    <mat-card-content>

        <p>From database: </p>
<mat-list>
  <mat-list-item>
    <span matListItemTitle>Title</span>
    <span matListItemLine>Second line</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Title</span>
    <span matListItemLine>Second line</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Title</span>
    <span matListItemLine>Second line</span>
  </mat-list-item>
</mat-list>
<button mat-raised-button color="accent">UPDATE</button>
 </mat-card-content>
    
  </mat-card>
