<mat-card class="example-card">
    <mat-card-content>
        <p>Add to database: </p>
        <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Food item</mat-label>
          <input matInput placeholder="Enter food name" >
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <mat-label>Calories</mat-label>
            <input matInput placeholder="Enter calories (per 100 gr)" >
          </mat-form-field>
          <button mat-raised-button color="accent">ADD</button>
      </form></mat-card-content>
    
  </mat-card>


